h1,h2,h3,h4,h5,h6,p{
	padding: 0;
	margin: 0;
}

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	color: #ccc;
	background: #C10D0C;
}
.header .active{
	color: #fff;
}

.player-panel{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
	padding: 10px;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
}
.music-img{
	float: left;
	width: 60px;
	height: 60px;
	background: url("../img/default_album.jpg") no-repeat;
	background-size: 100% 100%;
}
.music-baseInfo{
	float: left;
	width: 180px;
	height: 60px;
	padding-left: 15px;
}
.music-baseInfo h6,.music-baseInfo p{
	height: 30px;
	line-height: 30px;
}
.music-baseInfo h6{
	font-size: 20px;
}
.music-baseInfo p{
	font-size: 18px;
	color: #cdd2d7;
}
.music-control{
	float: right;
	width: 130px;
	height: 40px;
	color: #C10D0C;
	padding: 10px 0;
}
.music-control span{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 10px; 
	vertical-align: middle;
}
.music-control .music-play{
	font-size: 20px;
	border-radius: 50%;
	border: 2px solid #C10D0C;
}
.music-control .music-next{
	font-size: 30px;
}