.playlist{
	position: fixed;
	right: 0;
	bottom: 50px;
	width: 599px;
	height: 449px;
	color: #888;
	font-size: 12px;
	z-index: 9999;
	border-top: 1px solid #EFEFEF; 
	border-left: 1px solid #EFEFEF; 
	background: #F9F9F9;
	box-shadow: -3px -3px 3px #ccc;
}
.playlist-type{
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.playlist-info{
	height: 28px;
	line-height: 28px;
	padding: 0 30px;
	border-top: 1px solid #E1E1E2;
	border-bottom: 1px solid #EFEFEF;
	letter-spacing: 1px;
}
.playlist-loveall{
	float: right;
	cursor: pointer;
}
.playlist-separator{
	float: right;
	margin-left: 20px;
}
.playlist-clearall{
	float: right;
	padding: 0 16px;
	cursor: pointer;
}
.playlist-content{
	width: 100%;
	height: 379px;
	overflow-y: scroll;	
}
.playlist-content::-webkit-scrollbar{
	width: 8px;
}
.playlist-content::-webkit-scrollbar-track {
	background-color: #fff;
} 
.playlist-content::-webkit-scrollbar-thumb {
	background-color: #E0E0E0; 
	border-radius: 4px;
}
.playlist table{
	width: 100%;
}
.playlist table td{
	height: 28px;
	line-height: 28px;
}
.playlist table tr:nth-child(2n){
	background: #F5F5F7;
}
.playlist table td:first-child{
	width: 298px;
	color: #333333;
}
.playlist table .m-icon{
	float: left;
	width: 30px;
	height: 28px;
	font-size: 12px;
	text-align: center;
	color: #EB363F;
}
.playlist table td:nth-child(2){
	width: 124px;
	padding-left: 26px;
}
.playlist table td:last-child{
	width: 50px;
	padding: 0 16px;
}